body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 85%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}



/* ///////////////////////// */
/* TITLE AREA */
.title_container {
    background-color: #3498db;
    margin-bottom: 50px;
    padding: 30px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}

.title {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



/* ///////////////////////// */
/* MAIN AREA */
.buttons_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

.button_area {
    width: 48%; /* Adjust the width as needed */
    margin-bottom: 10px;
}

.full-width {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

.main_area_container {
    margin-top: 20px;
}

/* Styles for the sections */

.section_header {
    background-color: #0b3f7a93;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
}

.section,
.rooms_section,
.reservations_section {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 20px;
}

.hostel_container,
.room_container,
.reservation_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    flex: 0 0 48%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
}
